/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    font-family: "Manrope", sans-serif;
}

/* main styling */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDF2F8;
}

main{
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0px 0px 17px 10px rgba(211, 226, 236, 0.85);
}

.article-image{
    background-image: url('../images/drawers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: auto;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.article-main{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    row-gap: 1em
}

.article-content{
}

h1{
    font-size: 1.5em;
    margin: .5em 0;
    color: #494e5c;
}

P{
    font-size: .9em;
    font-weight: 600;
    margin: .5em 0;
    color: #83898f;
    line-height: 170%;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0 0 0;
    width: 100%;
}

.author-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.author-avatar{
    width: 50px;
    border-radius: 100%;
}

.author-details{}

.author-name{
    font-size: .9em;
    color: #3d3d3d;
}

.article-date{
    font-size: .8em;
    font-weight: 500;
    color: #b4b4b4;
}

.share-icon-container{
    background-color: #EDF1FA;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.share-icon-container:hover{
    background-color: #718198;
}

.share-icon-container:hover svg{
    fill: white;
}