/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    font-family: "Manrope", sans-serif;
}

/* main styling */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDF2F8;
}

main{
    display: flex;
    flex-direction: row;
    
    background-color: white;
    border-radius: 10px;
    box-shadow:  0px 0px 17px 10px rgba(211, 226, 236, 0.85);
}

.article-image{
    background-image: url('../images/drawers.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30%;
    height: auto;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.article-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    row-gap: 1em
}

.article-content{
}

h1{
    font-size: 1.5em;
}

P{
    font-size: .9em;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.author-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.author-avatar{
    width: 50px;
    border-radius: 100%;
}

.author-details{}

.author-name{
    font-size: .8em;
}

.article-date{
    font-size: .7em;
}

.share-icon{
    width: 15px;
    height: 13px;
}