@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{margin: 0;}

body{
    font-family: "Outfit", sans-serif;
    background-color: #0D1A2D;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: #14253d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 36px 0px 16px #0C1729,  0px 0px 0px 62px #0C192C;
}

.main-img-container{
    margin: 0 0 20px 0;
    position: relative;
}

.hover-container{
    background-color: rgba(0, 255, 247, .4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    transform: scale(0,0);
    cursor: pointer;
    transition: .1s ease-in-out;
}

.main-img-container:hover .hover-container{
    transform: scale(1,1);
}

.main-img{
    border-radius: 20px;
    height: 350px;
    width: 350px;
    display: block;
}

.details-container{
    width: 350px;
    margin: 20px 0 0 0;
}

h1{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: .1s ease-in-out;
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

p{
    font-size: 1.13rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    margin: 15px 0;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.price,.time{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price{
    color: hsl(178, 100%, 50%);
}

.time{
    color: hsl(215, 51%, 70%);
}

hr{
    margin: 25px 0;
    border-color: #2F4159;
    border-style: solid;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.profile-pic{
    width: 50px;
    border: 1.5px solid white;
    border-radius: 100%;
    margin-right: 20px;
}

h2{
    font-weight: 100;
    font-size: 1.1rem;
    color: rgb(212, 212, 212);
}

h2 b{
    font-weight: 500;
    cursor: pointer;
    transition: .1s ease-in-out;
}

h2 b:hover{
    color: hsl(178, 100%, 50%);
}

@media only screen and (max-width: 470px){
    
    main{
        width: 75vw;
    }
    .main-img{
        width: 100%;
        height: auto;
    }
    .details-container{
        width: 100%;
    }
}